<launch>


<include file="$(find turtlebot_bringup)/launch/minimal.launch">
</include>

<include file="$(find turtlebot_teleop)/launch/logitech.launch">
</include>

<include file="$(find turtlebot_navigation)/launch/amcl_demo.launch">
    <arg name="map_file" value="$(find tb_maps)/mymap.yaml" />
</include>

</launch>
